Q1. What is a database? Differentiate between SQL and NoSQL databases.

Q1. A database is a structured collection of data that is organized, managed, and accessed electronically. It is designed to store and retrieve data efficiently, allowing for efficient data management and manipulation.


SQL Databases:

SQL databases are based on a relational model and use structured query language (SQL) for defining and manipulating the data.
They have a predefined schema that defines the structure of the data and the relationships between different tables.
Popular examples of SQL databases include MySQL, Oracle, PostgreSQL

NoSQL Databases:

NoSQL databases are designed to handle unstructured and semi-structured data. They offer a flexible schema and can handle a variety of data types.

NoSQL databases use various data models like key-value, document, columnar, and graph to store and retrieve data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language.

  1.CREATE: The CREATE statement is used to create a new database object, such as a table, 
                
              example:CREATE TABLE Customers ( ID INT, Name VARCHAR(50), Email VARCHAR(100) );

   2.DROP: The DROP statement is used to remove an existing database object from the database.


       example : DROP TABLE employes;

   

   3.ALTER: The ALTER statement is used to modify the structure of an existing database object
           

                 example :     ALTER TABLE employees
                               ADD COLUMN email VARCHAR(255);

   4.TRUNCATE: The TRUNCATE statement is used to remove all the data from a table,

           example : TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.


DML stand for data manipulation language.

1. INSERT : the insert command to used add new rows into a table 
     
     example : INSERT INTO employees(employee id , name , department)

               VALUES(123 , 'vivek sahu' , 'sales');


2. UPDATE : the update command to used modify records in A  table.

          example : UPDATE employees 
                    SET department = 'marketing'
                    WHERE employ id = 100232;

3. DELETE : remove one or more records 

            example : DELETE FROM  employees 
                WHERE  department 'sales'

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language

The primary DQL command is SELECT, which is used to retrieve specific columns or all columns from one or more tables. 
 example : SELECT * FROM employees

Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a unique identifier for each record (or row) in a database table. 

Foreign Key:
A foreign key establishes a relationship between two tables. It refers to a primary key column in another table, creating a link between the two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

        conn = mysql.connector.connect(
        host="localhost",
        user="your_username",
        password="your_password",
        database="your_database"
)
                  
cursor = conn.cursor()

cursor.execute("SELECT * FROM your_table")
                   
results = cursor.fetchall()

for row in results:
   
    
print(row)

cursor.close()

conn.close()

cursor():

The cursor() method creates a cursor object, which allows you to execute SQL statements and fetch data from the MySQL database.

execute():

The execute() method is used to execute an SQL query or statement.
It is called on the cursor object (cursor.execute(query)).

Q7. Give the order of execution of SQL clauses in an SQL query.

In a typical SQL query, the clauses are executed in the following order:

FROM: This clause specifies the tables or views from which the data will be retrieved.

WHERE: The WHERE clause is used to filter the rows based on specific conditions. 

GROUP BY: The GROUP BY clause is used to group rows that have the same values in specified columns.