## Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use  MongoDB over SQL databases?

MongoDB is a popular NoSQL (non-relational) database that provides a flexible and scalable approach to storing and managing data. 

Non-relational databases, also known as NoSQL databases

MongoDB is preferred over SQL databases in certain scenarios, including:

Flexible data models: MongoDB allows for dynamic and evolving data models

Scalability and performance: MongoDB's distributed architecture and horizontal scaling capabilities make it highly scalable, allowing it to handle large volumes of data and high traffic loads.

Rapid development cycles: MongoDB's flexible schema and dynamic nature enable developers to iterate quickly during the development process.

Real-time analytics and data-driven applications: MongoDB supports real-time data processing, making it suitable for applications that require real-time analytics, event-driven architectures, or real-time data synchronization.

#Q2. State and Explain the features of MongoDB.

MongoDB is a popular NoSQL database management system known for its flexibility, scalability, and ease of use.

Document-oriented: MongoDB is a document-oriented database, which means it stores data in a flexible, semi-structured document format called BSON (Binary JSON). 

Scalability and High Performance: MongoDB is designed to scale horizontally across multiple servers, allowing you to distribute data and workload across a cluster of machines. 

High Availability and Replication: MongoDB supports replica sets, which are self-healing clusters that provide automatic failover and data redundancy. Replica sets maintain multiple copies of data across different servers

## Q3.Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

import pymongo


client = pymongo.MongoClient("mongodb://localhost:27017/")


mydb = client["mydatabase"]


mycol = mydb["mycollection"]

## Q4. Using the database and the collection created in question number 3, write a code to insert one record,  and insert many records. Use the find() and find_one() methods to print the inserted record.

In [ ]:
#https://www.mongodb.com/

In [ ]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.ln0bt5m.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [ ]:
pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 9.2 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 27.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

In [15]:
db = client['pwskills']

In [16]:
coll_pwskills = db["my order"]

In [17]:
data = {'name': 'vivek',
        'class': 'data science master',
        'skills': 'python developer',
        'age':780
        }

In [19]:
coll_pwskills.insert_one(data)

In [21]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [22]:
coll_pwskills.insert_many(data2)

In [24]:
coll_pwskills.find_one()

{'_id': ObjectId('647ecbf91dfe1635f0363685'),
 'name': 'vivek',
 'class': 'data science master',
 'skills': 'python developer',
 'age': 780}

In [26]:

for i in coll_pwskills.find():
  print(i)

{'_id': ObjectId('647ecbf91dfe1635f0363685'), 'name': 'vivek', 'class': 'data science master', 'skills': 'python developer', 'age': 780}
{'_id': ObjectId('647ecc6a1dfe1635f0363686'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('647ecc6a1dfe1635f0363687'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('647ecc6a1dfe1635f0363688'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('647ecc6a1dfe1635f0363689'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('647ecc6a1dfe1635f036368a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('647ecc6a1dfe1635f036368b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('647ecc6a1dfe1635f036368c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('647ecc6a1dfe1635f036368d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('647ecc6a1dfe1635f036368e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('647ecc6a1dfe1635f036368f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('647ecc6a1dfe1635f0363690'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('647ecc6a1dfe1635f0363691'), 'name': 'Viola', 'address': 'Sideway 1633'}

## Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to  demonstrate this.

In [ ]:
from pymongo import MongoClient


client = MongoClient('mongodb://localhost:27017/')

db = client['mydatabase']

collection = db['mycollection']

filter = {'age': {'$gte': 25}}  

results = collection.find(filter)

for document in results:
    print(document)

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

in MongoDB, the sort() method is used to sort the documents in a collection based on a specified field or fields. It allows you to specify the sorting order as either ascending (1) or descending (-1).

In [ ]:
db.collection.find().sort({ field: 1 })

In [ ]:
db.employees.find().sort({ salary: -1 })

In [ ]:
db.employees.find().sort({ salary: -1, age: 1 })

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one(): This method is used to delete a single document that matches a specified filter. 

delete_many(): This method is used to delete multiple documents that match a specified filter.

drop(): This method is used to delete an entire collection from the database. When you drop a collection, you permanently remove all documents and associated indexes within that collection.