## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
import pandas as pd

data = [4, 8, 15, 16, 23,42]

pd.Series(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the  variable print it.

In [ ]:
import pandas as pd

my_list = [1,2,3,4,5,6,7,8,9,10]

pd.Series(my_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice
Bob
Claire
Then, print the DataFrame.
Age 25
30
27
Gender Female Male
Female

In [ ]:
import pandas as pd

data = { "Name" :["alice" , "bob" , "clair"],
         "age":[25,30,27],
         "gender":["female" , "male" , "female"]

}

pd.DataFrame(data)

    Name  age  gender
0  alice   25  female
1    bob   30    male
2  clair   27  female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

 a DataFrame is a two-dimensional data structure that represents tabular data.  where data is organized in rows and columns.


 a pandas Series is a one-dimensional data structure that represents a single column or a single row of data.

In [ ]:
import pandas as pd


data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [20, 19, 21],
    'Grade': [85, 90, 78]
}

pd.Series(data)

Name     [John, Alice, Bob]
Age            [20, 19, 21]
Grade          [85, 90, 78]
dtype: object

In [ ]:
import pandas as pd


data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [20, 19, 21],
    'Grade': [85, 90, 78]
}

pd.DataFrame(data)

    Name  Age  Grade
0   John   20     85
1  Alice   19     90
2    Bob   21     78

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can  you give an example of when you might use one of these functions?

Pandas is a powerful library in Python for data manipulation and analysis. It provides several common functions to manipulate data in a Pandas DataFrame.

head() and tail():

shape()

info()

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series: A Series is a one-dimensional labeled array capable of holding any data type.

DataFrame: A DataFrame is a two-dimensional labeled data structure with columns of potentially different data types.


Panel: A Panel is a three-dimensional labeled data structure. However, it is considered deprecated in recent versions of Pandas, and its use is discouraged. Panels are immutable

So, Series and DataFrame are mutable, while Panel is not.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
import pandas as pd


s1 = pd.Series([1, 2, 3, 4, 5])

s2 = pd.Series(['A', 'B', 'C', 'D', 'E'])


df = pd.DataFrame({'Column1': s1, 'Column2': s2})


print(df)

   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D
4        5       E