        1. Write a program to accept percentage from the user and display the grade according to the following 
        criteria: 
         Marks 
          Grade 
             >90 
            A 
              >80 and <=90 
                   B 
                 >=60 and <=80 
                           C 
                             below 60 
                                  D

In [ ]:
percentage = float(input("enter the percentage:"))
if percentage > 90:
      grade = "a"
  
elif percentage > 80:
      grade ="b"

elif percentage >= 60:
      grade = "c"

else:
     grade = "d"
print( "Grade" , grade)

enter the percentage:89
Grade b

2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the 
following criteria: 
Tax 
15% 
10% 
5% 
Cost Price(in Rs) 
           >100000 
                 50000 and <= 100000 
                     <= 50000

In [ ]:
cost_price = float(input("Enter the cost price of the bike (in Rs): "))

if cost_price > 100000:
    tax_percentage = 15
elif cost_price > 50000:
    tax_percentage = 10
else:
    tax_percentage = 5

road_tax = (cost_price * tax_percentage) / 100

print("The road tax to be paid is: Rs", road_tax)

Enter the cost price of the bike (in Rs): 200000
The road tax to be paid is: Rs 30000.0

3. Accept any city from the user and display monuments of that city. 
          City 
           Delhi 
            Monument 
              Red Fort 
                 Taj Mahal 
                      Agra 
                        Jaipur 
                           Jal Mahal

Sure! Here are some monuments in Delhi:

Red Fort: The Red Fort is a historic fort in the heart of Delhi. It was built by the Mughal emperor Shah Jahan in the 17th century and is made of red sandstone. 

Taj Mahal: The Taj Mahal is one of the most famous monuments in the world and is located in Agra, Uttar Pradesh. It was built by the Mughal emperor Shah Jahan in memory of his wife, Mumtaz Mahal. 
In Jaipur:

Jal Mahal: The Jal Mahal, also known as the "Water Palace," is a beautiful palace located in the middle of the Man Sagar Lake in Jaipur, Rajasthan.

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [ ]:
def count_divisions(num):
    count = 0
    while num > 10:

        num /= 3
        count += 1
    return count


number = 243
divisions = count_divisions(number)
print(f"The number {number} can be divided by 3 {divisions} times before it is less than or equal to 10.")

The number 243 can be divided by 3 3 times before it is less than or equal to 10.

5. Why and When to Use while Loop in Python give a detailed description with example

The while loop in Python is used to repeatedly execute a block of code as long as a certain condition is true

In [ ]:
count = 0
while count < 5:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

6. Use nested while loop to print 3 different pattern.

Pattern 1: Square Pattern

In [ ]:
row = 1
while row <= 5:
    col = 1
    while col <= 5:
        print("*", end=" ")
        col += 1
    print()
    row += 1

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

Pattern 2: Right Triangle Pattern

In [ ]:
row = 1
while row <= 5:
    col = 1
    while col <= row:
        print("*", end=" ")
        col += 1
    print()
    row += 1

*
* *
* * *
* * * *
* * * * *

Pattern 3: Reverse Right Triangle Pattern

In [ ]:
row = 1
while row <= 5:
    col = 5
    while col >= row:
        print("*", end=" ")
        col -= 1
    print()
    row += 1

* * * * *
* * * *
* * *
* *
*

7. Reverse a while loop to display numbers from 10 to 1.

In [12]:
number = 10
while number >= 1:
    print(number)
    number -= 1

10
9
8
7
6
5
4
3
2
1