## Q1. List any five functions of the pandas library with execution.

Five function pandas libarary execution

read_csv():
df.head()
df.describe()
groupby()
to_csv()

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the  DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [22]:
import pandas as pd

def reindex_with_increment(df):
    df = df.reset_index(drop=True)
    df.index = df.index * 2+1
    return df

In [23]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

new_df = reindex_with_increment(df)

print(new_df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that  iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The  function should print the sum to the console.
### For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should  calculate and print the sum of the first three values, which is 60.

In [34]:
import pandas as pd

df =pd.DataFrame({'a': [10, 20, 30, 40, 50]})

df[0:3].sum()

a    60
dtype: int64

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column  'Word_Count' that contains the number of words in each row of the 'Text' column.

In [57]:
import pandas as pd
Text =({'a':["vivek", "akash","dipesh"]})
df=pd.DataFrame(Text)

In [58]:
df['a']

0     vivek
1     akash
2    dipesh
Name: a, dtype: object

In [59]:
df['Word_Count']=df['a'].apply(lambda x: len(x.split()))

In [60]:
df

        a  Word_Count
0   vivek           1
1   akash           1
2  dipesh           1

# Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size() returns the total number of elements in the DataFrame.

DataFrame.shape() returns the dimensions of the DataFrame as a tuple (rows, columns).

# Q6. Which function of pandas do we use to read an excel file?

import pandas as pd


data = pd.read_excel('path_to_excel_file.xlsx')


print(data)

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email  addresses in the format 'username@domain.com'. Write a Python function that creates a new column  'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the  email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your  function should extract the username from each email address and store it in the new 'Username'  column.

In [63]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects  all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The  function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values


    A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2

In [66]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows


data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,  median, and standard deviation of the values in the 'Values' column.

In [69]:
import pandas as pd

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

In [70]:
df.mean()

Values    30.0
dtype: float64

In [71]:
df.median()

Values    30.0
dtype: float64

In [72]:
df.std()

Values    15.811388
dtype: float64

# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to  create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days  for each row in the DataFrame. The moving average should be calculated using a window of size 7 and  should include the current day.

In [73]:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new  column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.  Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:

         Date

0  2023-01-01

1  2023-01-02

2  2023-01-03

3  2023-01-04

4  2023-01-05

Your function should create the following DataFrame:

         Date    Weekday

0  2023-01-01    Sunday

1  2023-01-02     Monday

2  2023-01-03    Tuesday

3  2023-01-04    Wednesday

4  2023-01-05    Thursday

The function should return the modified DataFrame.

In [74]:
import pandas as pd

def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime if it's not already
    df['Weekday'] = df['Date'].dt.strftime('%A')  # Create 'Weekday' column using weekday names
    return df

In [75]:
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})

df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python  function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [81]:
import pandas as pd

pd.date_range(start='2023-01-01', end='2023-01-31')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31'],
              dtype='datetime64[ns]', freq='D')

# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to  be imported?

In [82]:
import pandas as pd